{% extends 'base.html' %}
{% load static %}

{% block current_day %}

{% endblock current_day %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'css/password_reset_and_done.css' %}">
{% endblock additional_styles %}
{% block body %}
{% include 'include_fragments/simple_navbar.html' %}
{% include 'include_fragments/error_notification.html' %}

<div class="password-reset__container">
	<div class="password-reset__inner">
	<form class="password-reset_form" method="post">
		{% csrf_token %}
		<h1>Password Reset</h1>
		<label for="{{form.email.id_for_label}}">Enter your email for reset password</label>
		{{form.email}}
		<input type="submit" value="Send Email">
	</form>
	</div>
</div>
{% endblock body %}
