{% extends 'task/base.html' %}
{% load static %}
{% block title %} {{ task.title }} {% endblock %}
{% block task-color %}#{{ task.color }}{% endblock %}
{% block main_content %}
    {% include 'include_fragments/error_notification.html' %}
    <div class="add-folder">
        <h2 class="add-toDo-header">Create Folder</h2>
        {% include 'include_fragments/error_notification.html' %}

        <form action="{% url 'folder_create' %}" method="post">
            {% csrf_token %}

            <div class="toDo-row">
                <div class="folder_name">
                    {{ form.as_p }}
                </div>
            </div>
            <div class="toDo-row">
                <input class="submit" type="submit" value="Create">
            </div>

        </form>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'scripts/Task.js' %}"></script>
{% endblock %}