{% extends 'task/base.html' %}
{% load static %}
{% block title %}Todo List{% endblock %}
{% block current_day %}{% endblock %}
{% block main_content %}
    <div class="filter">
        <div class="filter_inner">
            <form action="{% url 'todo_filter' %}" method="get" id="filter_form">
                <div class="row">
                    <div class="date_box">
                        <input name="date" class="form-control form-control-solid filter_date"
                               placeholder="Pick date rage" id="kt_daterangepicker_4"/>
                        <div class="filter__row-partition"></div>
                    </div>
                </div>
                <div class="filter__col-partition"></div>
                <div class="row">
                    <div class="filter__folders">
                        <div class="folder_box">
                            <input class="folder_checkbox" id="all_folders" type="checkbox" name="all_folders"
                                   value="all"
                                   checked>
                            <label for="all_folders">All</label>
                        </div>
                        {% for folder in folders %}
                            <div class="folder_box">
                                <input class="folder_checkbox" id="{{ folder.slug }}" type="checkbox" name="folder"
                                       value="{{ folder.slug }}">
                                <label for="{{ folder.slug }}">{{ folder.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filter__col-partition"></div>
                <input id="filter_submit" type="submit" value="Filter">
            </form>
        </div>
    </div>
    {% include 'include_fragments/error_notification.html' %}
    <div class="actions">
        <div class="action__menu-btn">
            <p></p>
            <p></p>
            <p></p>
        </div>
        <ul class="action__menu closed">
            <li><a href="{% url 'todo_create' %}">Create Todo</a></li>
            <li><a href="{% url 'folder_create' %}">Create Folder</a></li>
        </ul>
    </div>

    <div class="todo_list">
        <div class="list_header-box">
            <h2 class="list_header">Task List</h2>
        </div>
        <div class="todo_list_items">
            {% for task in task_list %}
                {% with task.description|length|get_digit:"-1" as descr_len %}
                    <div style="--task-color:#{{ task.color }}"
                         class="todo_list_item {% if 250 > descr_len and descr_len > 110 %}long{% elif descr_len > 250 %}big{% endif %}">
                        <div class="text">
                            <h3>{{ task.title }}</h3>
                            <div class="todo_folder" style="color:var(--task-color);">Folder:
                                <i>{{ task.folder.name }}</i></div>
                            {% if task.description %}
                                <p>{{ task.description|truncatechars:1000 }}</p>
                            {% else %}
                                <p>Description is empty</p>
                            {% endif %}
                            <a href="{{ task.get_absolute_url }}" class="btn">read more</a>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block additional_scripts %}
    <script src="{% static 'scripts/filter.js' %}"></script>
    <script src="{% static 'scripts/date-range-picker.js' %}"></script>

{% endblock %}